.dialog-pane {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #0d1cea, #7f0bde);
}

.dialog-pane .button {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #30d5c8, #02ab9e);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-border-radius: 8px;
    -fx-border-color: #64a8fd;
}

.dialog-pane .button:hover {
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #02ab9e, #30d5c8);
}

.dialog-pane .content.label {
    -fx-text-fill: white;
}

.dialog-pane > .header-panel {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #0d1cea, #7f0bde);
}

.dialog-pane > .header-panel .label {
    -fx-text-fill: white;
}

.dialog-pane .graphic-container {
    -fx-padding: 0;
    visibility: hidden;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
}
