.root {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #0d1cea, #7f0bde);
}
/*#5f0bde, #0d6dea*/
#MainButtons {
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #30d5c8, #02ab9e);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5;
    -fx-border-radius: 8px;
    -fx-border-color: #64a8fd;
}
#MainButtons:hover {
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #02ab9e, #30d5c8);
    -fx-text-fill: white;
}
#UserLabel, #TempMessageLabel{
    -fx-text-fill: white;
}
